{% extends "layout.html" %}

{% block scripts %}
    <!-- Show/hide reason text box and extend tables-->
    <script src="static/scripts/edit-today.js"></script>
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        {% if status == 0 %}
            <!-- Not yet set -->
            <form class="row justify-content-center" method="post">
                <input type="hidden" name="new_day" value="new_day">
                <input type="submit" value="Neue SV-Stunde" class="btn btn-primary mb-3">
            </form>
            <form class="row justify-content-center" method="post">
                <input type="hidden" name="cancelled" value="cancelled">
                <input type="submit" value="Entfall" class="btn btn-primary">
            </form>
        {% elif status == 1 %}
            <!-- cancelled -->
            <div class="col-md-8 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header header-lanis-color">
                        <i class="fa-solid fa-ban me-1"></i>
                        Ausfall
                    </div>
                    <div class="card-body text-dark">
                        <p>Heute fällt die SV aus.</p>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- overview -->
            <div>
                <!-- elected positions-->
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    {% for person in persons %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">{{ person[2] }}</h5>
                                    <div class="input-group mb-1">
                                        <input class="me-1" type="radio" name="{{ person[0] }}" checked form="today_form"
                                               value="Anwesend"
                                               id="anwesend-{{ person[0] }}"
                                               onclick="hide('entschuldigt-{{ person[0] }}-textbox')"/>
                                        <label class="form-check-label" for="anwesend-{{ person[0] }}"> Anwesend</label>
                                    </div>
                                    <div class="input-group mb-1">
                                        <input class="me-1" type="radio" name="{{ person[0] }}" form="today_form"
                                               value="Fehlend"
                                               id="fehlend-{{ person[0] }}"
                                               onclick="hide('entschuldigt-{{ person[0] }}-textbox')"/>
                                        <label class="form-check-label" for="fehlend-{{ person[0] }}"> Fehlend</label>
                                    </div>
                                    <div class="input-group mb-1">
                                        <input class="me-1" type="radio" name="{{ person[0] }}" form="today_form"
                                               value="Entschuldigt"
                                               id="entschuldigt-{{ person[0] }}"
                                               onclick="show('entschuldigt-{{ person[0] }}-textbox')"/>
                                        <label class="form-check-label" for="entschuldigt-{{ person[0] }}">
                                            Entschuldigt</label>
                                    </div>
                                    <input style="display: none;" type="text" form="today_form" class="form-control"
                                           name="reason-{{ person[0] }}"
                                           placeholder="Grund" id="entschuldigt-{{ person[0] }}-textbox">
                                    {% if person[5] %}
                                        <h5 class="card-title mt-3">Hinweise</h5>
                                        <p class="card-text">{{ person[5] }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted small-index">{{ person[4] }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- non elected positions-->
                <div class="card" style="margin-top: 1rem">
                    <div class="card-header header-lanis-color">
                        <i class="fa-solid fa-person me-1"></i>
                        Freiwillige Personen
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mb-1">
                            <table class="table table-borderless table-hover" id="non_elected_table">
                                <tbody>
                                    <tr style="visibility: collapse;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#not_elected_modal">
                            Hinzufüge
                        </button>
                    </div>
                </div>
                <!-- other persons-->
                <div class="card" style="margin-top: 1rem">
                    <div class="card-header header-lanis-color">
                        <i class="fa-solid fa-person-rays me-1"></i>
                        Andere Personen
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mb-1">
                            <table class="table table-borderless table-hover" id="other_persons_table">
                                <tbody>
                                    <tr style="visibility: collapse;">
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#other_persons_modal">
                            Hinzufüge
                        </button>
                    </div>
                </div>
            </div>
            <!-- not elected modal -->
            <div class="modal fade text-dark" id="not_elected_modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Freiwilligen hinzufügen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Zurück"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Name" id="non_elected_textbox">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zurück</button>
                            <button type="submit" class="btn btn-primary"
                                    onclick="add_person('non_elected_table', 'non_elected_textbox', 'non_name')">
                                Hinzufügen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- other persons modal -->
            <div class="modal fade text-dark" id="other_persons_modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Andere Person hinzufügen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Zurück"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Name" id="other_persons_textbox">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zurück</button>
                            <button type="button" class="btn btn-primary"
                                    onclick="add_person('other_persons_table', 'other_persons_textbox', 'other_name')">
                                Hinzufügen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <input class="btn btn-primary" form="today_form" type="submit" value="Fertig">
            </div>
            <form class="row justify-content-center mb-1" action="/">
                <button class="btn btn-primary mt-2 mb-4">Zurück</button>
            </form>
        {% endif %}
    </div>

    {% if cancelled_date %}
        <input class="btn btn-primary" form="today_form" type="hidden" name="date" value="{{ cancelled_date }}">
    {% endif %}

    <form id="today_form" method="post"></form>

{% endblock %}