{% extends "layout.html" %}

{% block scripts %}
    <!-- Show/hide reason text box and extend tables-->
    <script src="static/scripts/edit-today.js"></script>
{% endblock %}

{% block history_bar %}
    {% if status == 2 or status == 0 %}
        <div id="nav2" role="alert">
            <div class="container d-sm-block">
                <div class="justify-content-center text-center text-white" style="display: flex;">
                    <form>
                        <input type="hidden" name="history_id" value="{{ last_day }}">
                        <button type="submit" class="text-white btn btn-default me-2">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </button>
                    </form>
                    <h5 class="mt-1">
                        {{ current_day }}
                    </h5>
                    <form>
                        <input type="hidden" name="history_id" value="{{ next_day }}">
                        <button type="submit" class="text-white btn btn-default ms-2">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



{% block main %}
    <div class="row justify-content-center">
        {% if status == 0 %}
            <!-- cancelled -->
            <div class="col-md-8 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header header-lanis-color">
                        <i class="fa-solid fa-ban me-1"></i>
                        Ausfall
                    </div>
                    <div class="card-body text-dark">
                        <p>Die SV fällt an diesem Tag aus.</p>
                    </div>
                </div>
            </div>
        {% elif status == 1 %}
            <!-- nothing created -->
            <div class="col-md-8 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header header-lanis-color">
                        <i class="fa-solid fa-circle-info me-1"></i>
                        Info
                    </div>
                    <div class="card-body text-dark">
                        <p>Es wurden noch keine SV-Tage erstellt.</p>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- overview -->
            <div>
                <!-- elected positions-->
                <div class="row row-cols-2 row-cols-md-2 g-2">
                    {% for person in persons %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">{{ person[1] }}</h5>
                                    {% if person[2] == 'Anwesend' %}
                                        <p class="fw-bold">Anwesend</p>
                                    {% elif person[2] == 'Fehlend' %}
                                        <p class="fw-bold">Fehlend</p>
                                    {% else %}
                                        <p class="fw-bold">Entschuldigt</p>
                                        <p>{{ person[3] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- non elected positions-->
                <div class="card" style="margin-top: 1rem">
                    <div class="card-header" style="background-color: #337ab7">
                        <i class="fa-solid fa-person me-1"></i>
                        Freiwillige Personen
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mb-1">
                            <table class="table table-borderless table-hover" id="non_elected_table">
                                {% for person in not_elected_persons %}
                                    <tr>
                                        <td>{{ person[0] }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <!-- other persons-->
                <div class="card mb-4" style="margin-top: 1rem">
                    <div class="card-header" style="background-color: #337ab7">
                        <i class="fa-solid fa-person-rays me-1"></i>
                        Andere Personen
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mb-1">
                            <table class="table table-borderless table-hover" id="other_persons_table">
                                {% for person in other_persons %}
                                    <tr>
                                        <td>{{ person[0] }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}