{% extends "layout.html" %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-12 col-sm-12 col-12">
            <div class="card" style="margin-top: 1rem; margin-bottom: 2rem">
                <div class="card-header" style="background-color: #337ab7">
                    <i class="fa-solid fa-person me-1"></i>
                    {{ person }}
                </div>
                <div class="card-body">
                    <small class="text-muted">Eine kursive Sitzung heißt, dass sie entfallen ist.</small>
                    <table class="table table-borderless table-hover mt-2" id="non_elected_table">
                        <tr>
                            <th>Datum</th>
                            <th>Status</th>
                            <th>Grund</th>
                        </tr>
                        {% for row in history %}
                            {% if row[1][2] == 1 %}
                                <tr>
                                    <td><em>{{ row[0] }}</em></td>
                                    <td><em>{{ row[1][0] }}</em></td>
                                    {% if row[1][1] != None %}
                                        <td><em>{{ row[1][1] }}</em></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1][0] }}</td>
                                    {% if row[1][1] != None %}
                                        <td>{{ row[1][1] }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}