/* Website background and white filter*/
body {
    background: linear-gradient(rgba(255,255,255,0.30), rgba(255,255,255,0.30)),
                url("../static/bg.jpg")
                no-repeat fixed;
    background-size: cover;

}

/* Navbar background color*/
nav {
    background: #264a7c;
}

/* Card title background color */
.card-header {
    background-color: #337ab7;
}