{% extends "layout.html" %}

{% block main %}
    <div class="row justify-content-center">
        <!-- overview -->
        <div>
            <!-- elected positions-->
            <div class="row row-cols-1 row-cols-md-2 g-2">
                {% for person in persons %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body text-dark">
                                <h5 class="card-title">{{ person[2] }}</h5>
                                <div class="input-group mb-1">
                                    <input class="me-1" type="radio" name="{{ person[0] }}" checked
                                           form="cancelled_form"
                                           value="Anwesend"
                                           id="anwesend-{{ person[0] }}"/>
                                    <label class="form-check-label" for="anwesend-{{ person[0] }}"> Anwesend</label>
                                </div>
                                <div class="input-group mb-1">
                                    <input class="me-1" type="radio" name="{{ person[0] }}" form="cancelled_form"
                                           value="Nicht anwesend"
                                           id="nicht_anwesend-{{ person[0] }}"/>
                                    <label class="form-check-label" for="nicht_anwesend-{{ person[0] }}"> Nicht
                                        anwesend</label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted small-index">{{ person[4] }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row justify-content-center mt-3">
                <input class="btn btn-primary" form="cancelled_form" type="submit" value="Fertig">
            </div>
            <form class="row justify-content-center mb-1" action="/">
                <button class="btn btn-primary mt-2 mb-5">Zurück</button>
            </form>
        </div>

        <input type="hidden" name="create_cancelled_session" value="1"
               id="create_cancelled_session" form="cancelled_form">

        <form id="cancelled_form" method="post"></form>

    </div>

{% endblock %}