{% extends "layout.html" %}

{% block scripts %}
    <script src="static/scripts/offices.js"></script>
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 col-12">
            <div class="card">
                <div class="card-header header-lanis-color">
                    <i class="fa-solid fa-person-circle-question me-1"></i>
                    ÄMTER
                </div>
                <div class="card-body text-dark">
                    <select class="form-select" id="office" onchange="change_office_explanation(this.options[this.selectedIndex]);">
                        <option value="Freiwilliges Mitglied" data-presence="Keine" data-tasks="Die SV unterstützen">Freiwilliges Mitglied</option>
                        <option value="Multifunktionales Mitglied" data-presence="1x in 2 Wochen" data-tasks="Die SV und bei Projekten unterstützen und bei Wahlen und Abstimmungen mitwirken.">Multifunktionales Mitglied</option>
                        <option value="Unterstufensprecher*in" data-presence="2x innerhalb von 2 Wochen" data-tasks="Ansprechperson für die Jahrgänge 5-7, muss sich für die Anliegen der Unterstufe einsetzen und Werbung für die SV bei den 5. Klassen machen.">Unterstufensprecher*in</option>
                        <option value="Mittelstufensprecher*in" data-presence="2x innerhalb von 2 Wochen" data-tasks="Ansprechperson für die Jahrgänge 8-10 und muss sich für die Anliegen der Mittelstufe einsetzen.">Mittelstufensprecher*in</option>
                        <option value="Oberstufensprecher*in" data-presence="2x innerhalb von 2 Wochen" data-tasks="Ansprechperson für die Jahrgänge 11-13 und muss sich für die Anliegen der Oberstufe einsetzen.">Oberstufensprecher*in</option>
                        <option value="Schulsprecher*in" data-presence="1x Woche"  data-tasks="Leitet und koordiniert die SV-Sitzungen, mit der Schulleitung und dem SEB Kontakt halten und Ansprechperson für alle Anliegen (nicht Jahrgangsspezifisch)">Schulsprecher*in</option>
                        <option value="Schulkonferenz Mitglied" data-presence="Vor und nach der Schulkonferenz gibt es eine Anwesenheitspflicht und einmal in 2 Wochen." data-tasks="Meinungsbilder und Abstimmungsergebnisse der SV der Schulkonferenz vortragen und aktuelle Themen vortragen.">Schulkonferenz Mitglied</option>
                        <option value="SSR-Deligierte/r" data-presence="Vor und nach der Vollversammlung des Stadtschüler*innenrats" data-tasks="Die Schule bei der Vollversammlung vertreten und eventuell Teil des Vorstands werden.">SSR-Deligierte/r</option>
                    </select>
                    <ul class="mt-3" style="padding-left: 1rem">
                        <li id="presence"><b>Anwesenheitspflicht:</b> Keine</li>
                        <li id="tasks" class="mt-1"><b>Aufgaben:</b> Die SV unterstützen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}